Repository nanisadw3/Practica_git, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org-admins, @jose-developer, @backend-team, @laura-dev, @frontend-team, @ana-frontend, @technical-writer, @marco-docs, @devops-team, @qa-team, @legal-team, @security-officer, @design-team, @nanisadw3

.github/CODEOWNERS:

# Archivo: CODEOWNERS
# ---------------------------------------------------------
# Este archivo define quién es responsable del mantenimiento
# y revisión de cada parte del código del repositorio.
# GitHub asignará automáticamente a los propietarios (code owners)
# como revisores cuando se cree un Pull Request que afecte
# a los archivos que administran.
# ---------------------------------------------------------

# 👤 Propietarios globales (responsables de todo el repositorio)
# Si no se especifica otra regla, estos usuarios revisarán todos los cambios.
*       @org-admins @jose-developer

# 📁 Propietario del directorio de backend
/backend/           @backend-team @laura-dev

# 📁 Propietario del directorio de frontend
/frontend/          @frontend-team @ana-frontend

# 📁 Propietario de la documentación
/docs/              @technical-writer @marco-docs

# 📄 Propietario del archivo de configuración principal
config.yml          @devops-team

# 🧪 Propietarios de las pruebas automáticas
/tests/             @qa-team

# ⚙️ Propietario de los scripts de automatización
/scripts/           @devops-team

# 📜 Licencia y políticas del proyecto
LICENSE             @legal-team
SECURITY.md         @security-officer

# 📦 Dependencias del proyecto (por ejemplo package.json, requirements.txt)
package.json        @frontend-team
requirements.txt    @backend-team

# 🎨 Archivos de diseño y recursos estáticos
/assets/            @design-team

# Duenio del proyecto
*.md @nanisadw3

feat: Añadir archivo LICENSE
  LICENSE
Owners: @legal-team

feat: Añadir archivo .github/DESCRIPTION.md para metadata
  .github/DESCRIPTION.md
Owners: @nanisadw3

Update README.md
  README.md
Owners: @nanisadw3

Add print statement to prueva.py
  prueva.py
Owners: @org-admins, @jose-developer

Limpieza
  CONTRIBUTING.md
  README.md
  prueva.py
Owners: @nanisadw3, @org-admins, @jose-developer
